name: Continuous integration & Continuous deployment

on:
  merge_group:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Depends on all action that are required for a "successful" CI run.
  tests-pass:
    name: all systems go
    runs-on: ubuntu-latest
    needs:
      - test
      - clippy
      - rustfmt
    steps:
      - run: exit 0

  # Job to filter crates to be published
  gather_crates:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      crates: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            cli: cli/Cargo.toml

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - uses: Swatinem/rust-cache@6fd3edff6979b79f87531400ad694fb7f2c84b1f # v2.2.1
        with:
          shared-key: stable-cache
          save-if: false

      - name: Run all tests
        run: cargo test --workspace --all-features

  publish:
    name: Publish ${{ matrix.crate }}
    runs-on: ubuntu-latest
    needs:
      - test
      - gather_crates
    strategy:
      fail-fast: false
      matrix:
        crate: ${{ fromJSON(needs.gather_crates.outputs.crates) }}
    steps:
      - uses: actions/checkout@v3

      - name: Check if we compile without any features activated
        run: cargo --locked build --package ${{ matrix.crate }} --no-default-features

      # Publication dry-run flow should run on pull request on the `main` branch
      - name: Dry publish
        run: cargo publish -p ${{ matrix.crate }} --dry-run
        if: ${{ github.event_name == 'pull_request' }}

      # Publication flow should run on merge on the `main` branch
      - name: Publish
        run: cargo publish -p ${{ matrix.crate }} --token ${{secrets.CARGO_TOKEN}}
        if: ${{ github.event_name == 'push' }}

  clippy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust-version: [
          1.67.1, # current stable
        ]
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust-version }}
          targets: wasm32-unknown-unknown
          components: clippy

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - uses: Swatinem/rust-cache@6fd3edff6979b79f87531400ad694fb7f2c84b1f # v2.2.1
        with:
          save-if: ${{ github.ref == 'refs/heads/master' }}

      - name: Run cargo clippy
        run: cargo clippy # cargo alias to allow reuse of config locally

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - uses: r7kamura/rust-problem-matchers@d58b70c4a13c4866d96436315da451d8106f8f08 #v1.3.0

      - name: Check formatting
        run: cargo fmt -- --check
